include _functions
include _config
include ../image/_image
include ../rd-navbar/_rd-navbar
include ../logo/_logo
include ../preloader/_preloader

block variables
- main();

doctype html
html( lang='en', class= htmlClass )
	head
		title= pageName
		script(src="./config.js")
		meta( charset='utf-8' )
		meta( name='viewport', content='width=device-width, height=device-height, initial-scale=1.0' )
		meta( http-equiv='X-UA-Compatible', content='IE=edge' )

		link( rel='icon', href='media/favicon.ico', type='image/x-icon' )
		link( rel='stylesheet', href='components/base/base.css' )
		script( src='components/base/core.min.js' )
		script( src='components/base/script.js' )
	body
		.wrapper
			+rd-navbar
			.page( class= pageClass )
				.content
					block page
			+preloader
	script(type='text/javascript').
		$(document).ready(function () {
		$("#sidebar").mCustomScrollbar({
		theme: "minimal"
		});
		$('#sidebarCollapse').on('click', function () {
		$('#sidebar, .content').toggleClass('active');
		$('.collapse.in').toggleClass('in');
		$('a[aria-expanded=true]').attr('aria-expanded', 'false');
		});
		});
