//- List social
mixin list-social
	// List social
	ul.list.list-social&attributes( attributes )
		li.list-social-item
			a.icon.icon-circle.icon-md.icon-style-1.mdi-facebook( href='https://www.facebook.com/oakwaveco' )
		li.list-social-item
			a.icon.icon-circle.icon-md.icon-style-1.mdi-twitter( href='https://www.twitter.com/oakwaveco' )
		li.list-social-item
			a.icon.icon-circle.icon-md.icon-style-1.mdi-linkedin( href='https://www.linkedin.com/company/oakwave' )