include ../blurb/_blurb

// Features
section.section.section-lg
	.container
		.d-md-flex.align-items-md-center
			h2 Our Strategic Model
			p.biggest.mt-md-0.ml-md-4.border-md-left.pl-md-3 There is a great deal of buzz and cliché cycling around the word strategy. In fact , we find the majority of consultants, agencies, and business people in general abuse the term strategy by applying it to tactical plans, Gantt charts, and roadmaps. Since so much of the market has changed the definition of strategy, we thought it imperative to share our definition of the term , which is the same one that's been around for hundreds of years... the right one. In the simplest terms, strategy is how you get from where you are to where you want to be. 
		.row.row-lg-0
			.col-md-7.col-lg-7
					.offset-xl.blurb-hovered
						.row
							.col-md-4.col-lg-4
								.blurb-hovered-item
									+blurb-boxed({
										media: 'flex-lg-column flex-xxl-row',
										embed: '<span class="icon icon-primary icon-round icon-lg icon-style-3"><img src="media/img/icon/vision.svg" class="mdi-custom" /></span>',
										title: 'Context',
										text:  ' Vision + Mission + History + Constraints + Root Roadblocks'
									})
							.col-md-4.col-lg-4
								.blurb-hovered-item
									+blurb-boxed({
										media: 'flex-lg-column flex-xxl-row',
										embed: '<span class="icon icon-primary icon-round icon-lg icon-style-3"><img src="media/img/icon/research.svg" class="mdi-custom" /></span>',
										title: 'Market',
										text:  'Research Surveys + Industry Analysis + Buyer Base + Personas'
									})
							.col-md-4.col-lg-4
								.blurb-hovered-item
									+blurb-boxed({
										media: 'flex-lg-column flex-xxl-row',
										embed: '<span class="icon icon-primary icon-round icon-lg icon-style-3"><img src="media/img/icon/voice.svg" class="mdi-custom" /></span>',
										title: 'Brand',
										text:  'Visuals + Voice + Perception.'
									})
						.row.row-30.row-lg-0
							.col-md-4.col-lg-4
								.blurb-hovered-item
									+blurb-boxed({
										media: 'flex-lg-column flex-xxl-row',
										embed: '<span class="icon icon-primary icon-round icon-lg icon-style-3"><img src="media/img/icon/website.svg" class="mdi-custom" /></span>',
										title: 'Tech Stack',
										text:  'Tracking & CRM + Website + Martech'
									})
							.col-md-4.col-lg-4
								.blurb-hovered-item
									+blurb-boxed({
										media: 'flex-lg-column flex-xxl-row',
										embed: '<span class="icon icon-primary icon-round icon-lg icon-style-3"><img src="media/img/icon/growth.svg" class="mdi-custom" /></span>',
										title: 'Growth',
										text:  'Digital Campaigns + Traditional Campaigns'
									})
							.col-md-4.col-lg-4
								.blurb-hovered-item
									+blurb-boxed({
										media: 'flex-lg-column flex-xxl-row',
										embed: '<span class="icon icon-primary icon-round icon-lg icon-style-3"><img src="media/img/icon/roadmap.svg" class="mdi-custom" /></span>',
										title: 'Action',
										text:  'Demolition + Roadmap'
									})
			.col-md-5.col-lg-5(style="background: url(media/img/binoculars.png); background-size: 50%; background-repeat: no-repeat; border-radius: 40px; background-position-x: 130%; background-position-y: 100%; background-attachment: fixed;}")

	