include ../post/_post
include ../list/_list

// Our partners
section.section.section-lg
	.container
		h2.text-center Our Partners
		.row.row-offset-xl.no-gutters.partner-group
			.col-4.col-sm-3.partner-group-item
				a.partner( href='#', style="padding-top: 50px;" )
					+img( 'img/clientlogos/epic.webp' ).partner-image.grayscale
			.col-4.col-sm-3.partner-group-item
				a.partner( href='#' )
					+img( 'img/clientlogos/freshworks.png').partner-image.grayscale
			.col-4.col-sm-3.partner-group-item
				a.partner( href='#' )
					+img( 'img/clientlogos/baskinrobbins.png' ).partner-image.grayscale
			.col-4.col-sm-3.partner-group-item
				a.partner( href='#' )
					+img( 'img/clientlogos/valpaklogo.png' ).partner-image.grayscale
			.col-4.col-sm-3.partner-group-item
				a.partner( href='#' )
					+img( 'img/clientlogos/robo-negotiator.png' ).partner-image.grayscale 
			.col-4.col-sm-3.partner-group-item
				a.partner( href='#' )
					+img( 'img/clientlogos/IFA-Logo.png' ).partner-image.grayscale 
			.col-4.col-sm-3.partner-group-item
				a.partner( href='#' )
					+img( 'img/clientlogos/cuemby.png' ).partner-image.grayscale 
			.col-4.col-sm-3.partner-group-item
				a.partner( href='#' )
					+img( 'img/clientlogos/unliver.webp' ).partner-image.grayscale 