//- Video
	@param {object} data - data object
	@param {string} data.img - preview image video
mixin video( data )
	// Video
	.video
		img.video-image(width=400 src="https://www.oakwave.com/assets/images/temp/image-5@2x.png?v=4689c492ac")


